TS_NODE_TRANSPILE_ONLY=
NODE_ENV=
HOST=
PORT=
GRAFANA_LOKI_URL=
FALLBACK_LANGUAGE=
ENABLE_LOKI_LOGGER=
ENABLE_PROMETHEUS_METRICS_LOGGER=

# Decker Third-party APIs 
DECKERS_OAUTH_API_URL=
DECKERS_API_URL=

DECKERS_GL1_CLIENT_ID=
DECKERS_GL1_CLIENT_SECRET=
DECKERS_GL3_CLIENT_ID=
DECKERS_GL3_CLIENT_SECRET=
DECKERS_GL4_CLIENT_ID=
DECKERS_GL4_CLIENT_SECRET=

# Tenancies
TENANT_DEV=
TENANT_CENTRAL=
TENANT_GL1=
TENANT_GL3=
TENANT_GL4=
 
# Throttler
THROTTLER_TTL=
THROTTLER_LIMIT=

# MSSQL Database
DB_HOST=
DB_TYPE=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
DB_TRUST_SERVER_CERTIFICATE=
DB_CONNECTION_TIMEOUT=

# MongoDB
MONGO_URI=
MONGO_DB_NAME=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=

# Bcrypt
SALT_ROUND=

# JWT
JWT_SECRET=
JWT_EXPIRES=

# Sentry
SENTRY_DSN=
SENTRY_AUTH_TOKEN=